.reviews-stars {
    margin-right: 0 !important;
}

.reviews-rating {
    padding: 0 !important;
}

.reviewer-image{
    width: 50px !important;
    height: 50px !important;
}

.logout-btn{
    padding: 10px 40px;
    border-radius: 4px;
    text-align: center;
    border: #cf1515c1 2px solid;
    color: #cf1515c1;
}

.logout-btn:hover{
    color: #ffffff;
    background-color: #cf1515c1;
}